# .env

# === Data Paths ===
RAW_DATA_DIR=./data/raw
PROCESSED_DATA_DIR=./data/processed
INTERIM_DATA_DIR=./data/interim

# === Passwords (for protected files) ===
# Industry mein: Vault/AWS Secrets Manager use hota hai
# Abhi local dev ke liye:
PDF_PASSWORD_HR=hr_password_2024
PDF_PASSWORD_FINANCE=finance_password_2024
EXCEL_PASSWORD_ADMIN=admin_password_2024

# === Model Configs (later phases) ===
EMBEDDING_MODEL=BAAI/bge-large-en-v1.5
LLM_MODEL=Qwen/Qwen2.5-7B-Instruct
VECTOR_DB_HOST=localhost
VECTOR_DB_PORT=6333

# === Logging ===
LOG_LEVEL=INFO
LOG_DIR=./logs